:root {
    --primary-color: #EB144C;
    --secondary-color: #fffcf9;
    --tertiary-color: #6320EE;
    --text-color: black;
    --box-color: #E7E7E7;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-image: url(img/copertina\ 3.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -2;

}

.titolo {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.rosso {
    color: red;
}

h1 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
}

body {
    margin: 0;
    background: var(--secondary-color);

}

.overlay {
    background-color: rgba(0, 0, 0, 0.313);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}


menu {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.765);
    margin: 0;
    height: 60px;

}

a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
 }
 

.contenitore {
    height: fit-content;

    border-radius: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

}

.userBox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url('img/svg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    align-items: center;
    width:30%;
    height: 40%;
    background-color: var(--box-color);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 50px black;
}
.userBox img{
    width: 50%;
    border: 2px solid var(--tertiary-color);
    border-radius: 50%;
    margin: 10px;
}
.userBox p {
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
}



/*FAVOURITE BOX*/

box {
    display: flex;
    flex-direction: column-reverse;
    width: 66%;
    height: fit-content;
    background-color: var(--box-color);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 50px black;

}

#film {
    display:flex;
    
    justify-content: space-around;
    
    width: 33, 70%;
    height: fit-content;

}

.favourite {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 50px black;
    padding: 10px;
}

.favourite h3 {
    color: black;
    
}

.frame h5 {
    
   margin: 5px;
  
   text-align: center;
   

}

.frame img {
   
    width: 100%;
    border-radius: 20px;
}

.frame {
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    box-sizing: border-box;
    width: 20.5%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    
   
}

.frame .canc{
    display: flex;
    width: 20px;
    justify-self: flex-end;
   
    
}

.frame .canc:hover{
    background-color: #EB144C;
}




/*FOOTER*/

h3 {
    color: var(--secondary-color);
}

h2 {
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 5px 5px 50px black;
}


footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

h1 {
    margin: 0;

}

.footerCol {
    display: flex;
    flex-direction: column;
}

.azienda {
    display: flex;
    flex-direction: row;
}

.svg img {
    width: 100%;
    height: 50%;
}

/*Cose utili*/

.separatore {
    height: 50px;
}

@media(max-width:700px){
    body{
        width: 100%;
    }
}